* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0;
    background-color: #2D3032;
    color: #D2D3D3;
    font-family: 'Luckiest Guy', cursive;
}
h1 {
    font-size: 5rem;
    font-family: 'Bungee Spice', cursive;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
 }

h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    
}
.won {
 margin-top: 2rem;
 text-align: center;
 font-size: 2.5rem;
}
.score-text {
    text-align: center;
    font-size: 2rem;
   
} 
.forscore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.cc {
 
 left: 15%;
 top: 50%;
}
.uc {
    right: 15%;
    top: 50%;
}
.btn {
    background-color: #9615DB;
    color: #D2D3D3;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    font-family: 'Luckiest Guy', cursive
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.text-wrapper {
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 10rem;
}
.cc, .uc {
    border: 1px solid #D2D3D3;
    padding: 2rem;
    font-size: 1.5rem;
    position: absolute;
    width: 20rem;
    text-align: center;
    border-radius: 15px;
}


