* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

body {
    background-color: white;
    margin: 0;
    padding: 0;

    
   
}
h1 {
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #4a536b;
    display: inline;
    color: white;
    border-radius: 5px;
    padding: 0 1rem;
}
.wrapper {
    background-color: white; 
    width: 70%;
    height: 30rem;
    margin: 4rem auto;
    padding: 4rem 0 0 0;
    text-align: center;
    
}
.div-score {
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: #4a536b;
    gap: 1rem;
    font-family: 'Luckiest Guy', cursive, sans-serif, Arial;
    margin-top: 3rem;
   
}
.score-text {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.won {
    font-size: 2.5rem;
    
}
h2 {
    text-decoration: underline;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.score-text, h2, .won {
    background-color: #d9e8eb;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: #ff9a8d;
    height: 40%;
    align-items: flex-start;
    border-radius: 10%;
    padding-top: 2rem;

}
.wrapper2 {
    background-color: #aed6dc;
    width: 70%;
    height: 90%;
    margin: 0 auto;
    border-radius: 10%;
    
}
.btn {
    background-color: #4a536b;
    border: 2px solid #aed6dc;
    color: white;
    border-radius: 20px;
    padding: 2rem 4rem;
    font-family: 'Luckiest Guy', cursive, sans-serif, Arial;
    font-size: 1.5rem;
}
.btn:hover {
   background-color: #576280;
}
.btn:active {
    background-color: #4a536b;
}